body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(241, 241, 241, 1);
    ;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    padding: 12px 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.logo img{
    width: 18.68px;
    height: 22px;
}

.logo p{
    font-family:"Kanit", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

.menu a {
    color: #081E34;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

#id1 {
    background-color: rgba(8, 30, 52, 0.12);
    padding: 10px;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
}

.description img {
    width: 619px;
    height: 420px;
    border-radius: 32px;
}

#title {
    font-family:"Kanit", sans-serif;
    font-size: 54px;
    width: 450px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
}

#description {
    font-family:"Inter", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    gap: 32px;
}

.info button {
    width: 144px;
    height: 50px;
    border-radius: 100px;
    background-color:rgba(113, 47, 255, 1);
    font-family:"Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: rgba(225, 222, 231, 1);
    border-radius: 32px;
}

.how-it-works .frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
}

#how-description {
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

#how-title {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    text-align: center;
    margin: 0 0 28px 0;
}

.frame div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frame img {
    height: 54px;
    width: 54px;
}

.frame .sh {
    font-family:"Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    margin: 24px 0 10px 0;
}

.frame .ms {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.inputfield {
    padding: 50px 80px;
    gap: 128px;
}

.inputfield .title {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 34px 0;
}

.inputfield .i-description {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
}

#sear {
    height: 24px;
    width: 24px;
    opacity: 50%;
}

.frame1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.frame1 input {
    flex: 1;    
    height: 50px;
    border-radius: 12px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
    opacity: 20%;
}
.frame1 input:focus {
    border: none;
    outline: none;
}

.frame1 div{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
    background-color: red;
    width: 619px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid rgba(225, 222, 231, 1);
    background-color: rgba(255, 255, 255, 1);
}

.frame1 button {
    width: 106px;
    height: 50px;
    border-radius: 100px;
    gap: 10 px;
    background-color: rgba(113, 47, 255, 1);
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.cv {
    height: 548px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.visualcontent {
    width: 619px;
    height: 420px;
    border-radius: 24px;
}

.vcinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vctitle {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 56px;
    align-items: center;
    margin: 0;
}

.vcdes {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.buttonM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(113, 47, 255, 1);
    width: 114px;
    height: 50px;
    border-radius: 100px;
    gap: 8px;
}

.buttonM img {
    width: 18px;
    height: 18px;
}

.buttonM button {
    background: none;
    border: none;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.footer {
    display: flex;
    flex-direction: column;
    border-radius: 32px 32px 0 0;
    padding: 32px 100px;
    background-color: rgba(255, 255, 255, 1);
    gap: 32px;
}

.frameF {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 372px;
    height: 25px;
    gap: 16px;
} 

.menu1 button {
    width: 64;
    height: 38;
    border-radius: 100px;
    gap: 8px;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.menu2 {
    opacity: 50%;
    font-family: 'Inter' sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.menuF {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

