body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    padding: 12px 80px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.logo img{
    width: 18.68px;
    height: 22px;
}

.logo p{
    font-family:"Kanit", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

.menu a {
    color: #081E34;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

#id1 {
    background-color: rgba(8, 30, 52, 0.12);
    padding: 10px;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
}

.description img {
    width: 619px;
    height: 420px;
    border-radius: 32px;
}

#title {
    font-family:"Kanit", sans-serif;
    font-size: 54px;
    width: 450px;
    font-weight: 700;
    line-height: 64px;
    margin: 0;
}

#description {
    font-family:"Inter", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    gap: 32px;
}

.info button {
    width: 144px;
    height: 50px;
    border-radius: 100px;
    background-color:rgba(113, 47, 255, 1);
    font-family:"Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border: none;
}

.how-it-works {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: rgba(225, 222, 231, 1);
    border-radius: 32px;
}

.how-it-works .frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 60px;
    /* gap: 40px; */
}

#how-description {
    font-family:"Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}

#how-title {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    text-align: center;
    margin-top: 0;
}

.frame div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

.frame img {
    height: 54px;
    width: 54px;
}

.frame .sh {
    font-family:"Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    margin: 24px 0 10px 0;
}

.frame .ms {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}



